@{
    ViewData["Title"] = "Cliente";
}

<div class="text-left">
    <h1 class="display-1">@ViewData["Title"]</h1>
    <p>Mantenimiento de Clientes</p>
</div>


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

