
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vertical-menu">
    <a><a asp-action="Editar" asp-controller="Mantenedor" a class="dropdown-item">Cliente</a></a>
    <a><a asp-action="Listar" asp-controller="Mantenedor" a class="dropdown-item">Listado de Cliente </a></a>   
    <a><a asp-action="Listar" asp-controller="Factura" a class="dropdown-item">Lista Facturas</a></a>
   
   
</div>